@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.woff?tf5ou6") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down-black:before {
  content: "\e900";
}
.icon-arrow-down-white:before {
  content: "\e901";
  color: #fff;
}
.icon-ico-dribble:before {
  content: "\e902";
  color: #fff;
}
.icon-ico-fb:before {
  content: "\e903";
  color: #fff;
}
.icon-ico-google-plus:before {
  content: "\e904";
  color: #fff;
}
.icon-ico-twitter:before {
  content: "\e905";
  color: #fff;
}
.icon-ico-youtube:before {
  content: "\e906";
  color: #fff;
}
.icon-logo .path1:before {
  content: "\e907";
  color: rgb(254, 230, 0);
}
.icon-logo .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(79, 70, 27);
}
.icon-logo .path3:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(79, 70, 27);
}
.icon-logo .path4:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(79, 70, 27);
}
.icon-logo .path5:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(79, 70, 27);
}
.icon-logo .path6:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(152, 136, 49);
}
.icon-logo-client-1:before {
  content: "\e90d";
  color: #fff;
}
.icon-logo-client-2:before {
  content: "\e90e";
  color: #fff;
}
.icon-logo-client-3:before {
  content: "\e90f";
  color: #fff;
}
.icon-logo-client-4:before {
  content: "\e910";
  color: #fff;
}
.icon-logo-client-5:before {
  content: "\e911";
  color: #fff;
}
.icon-logo-client-6:before {
  content: "\e912";
  color: #fff;
}
.icon-logo-txt .path1:before {
  content: "\e913";
  color: rgb(254, 230, 0);
}
.icon-logo-txt .path2:before {
  content: "\e914";
  margin-left: -4em;
  color: rgb(254, 230, 0);
}
.icon-logo-txt .path3:before {
  content: "\e915";
  margin-left: -4em;
  color: rgb(254, 230, 0);
}
.icon-logo-txt .path4:before {
  content: "\e916";
  margin-left: -4em;
  color: rgb(254, 230, 0);
}
.icon-logo-txt .path5:before {
  content: "\e917";
  margin-left: -4em;
  color: rgb(254, 230, 0);
}
.icon-logo-txt .path6:before {
  content: "\e918";
  margin-left: -4em;
  color: rgb(254, 230, 0);
}
.icon-logo-txt .path7:before {
  content: "\e919";
  margin-left: -4em;
  color: rgb(79, 70, 27);
}
.icon-logo-txt .path8:before {
  content: "\e91a";
  margin-left: -4em;
  color: rgb(79, 70, 27);
}
.icon-logo-txt .path9:before {
  content: "\e91b";
  margin-left: -4em;
  color: rgb(79, 70, 27);
}
.icon-logo-txt .path10:before {
  content: "\e91c";
  margin-left: -4em;
  color: rgb(79, 70, 27);
}
