*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

body {
  @include textArea(400, 15px, 18px, $colorGray);
}
input[type="text"],
input[type="email"],
textarea {
  @include textArea(400, 15px, 18px, $colorBlack);
}
header {
  border-bottom: 1px solid $colorYellow;
  margin-bottom: 117px;
}
.wrapper {
  height: 100vh;
  min-height: 500px;
  width: 100%;
  background: $backgroundGray;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  align-items: center;

  .header-text {
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      color: $colorWhite;
      position: relative;
      margin-bottom: 25px;
      text-align: center;

      &::before {
        background: url(../images/logo.png) no-repeat;
        content: "";
        position: absolute;
        bottom: 90px;
        left: 145px;
        width: 90px;
        height: 90px;
      }
    }
    span {
      color: $colorYellow;
      font-size: 15px;
      padding-bottom: 40px;

      @include media(">=992px") {
        @include textArea(300, 40px, 44px, $colorYellow);
        padding-bottom: 93px;
      }
    }
    a {
      text-decoration: none;
      color: $colorWhite;
      padding: 10px;
      border: 1px solid $colorYellow;
      @include media(">=992px") {
        padding: 21px 90px;
      }
      position: relative;
      &::after {
        position: absolute;
        content: "";
        background: url(../images/sprite/sprite.svg#arrow) no-repeat;
        top: 55px;
        left: calc(50% - 10px);
        width: 20px;
        height: 10px;
        @include media(">=992px") {
          top: 111px;
          left: 131px;
          width: 40px;
          height: 20px;
        }
      }
    }
  }
}
.main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  @include media(">=992px") {
    max-width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  height: 119px;
  .logo {
    padding-left: 40px;
    display: block;
    position: relative;
    span {
      &::before {
        content: "";
        position: absolute;
        background: url(../images/logo.png) no-repeat;
        width: 44px;
        height: 44px;
        top: calc(50% - 22px);
        left: 20px;
        background-size: cover;
      }
      &::after {
        content: "";
        background-size: cover;
        position: absolute;
        background: url(../images/logo-txt.png) no-repeat;
        width: 132px;
        height: 21px;
        left: 75px;
        top: calc(50% - 10px);
      }
    }
  }
}
.menu {
  .navigation {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 9;
    width: 100%;
    height: 100vh;
    background: $backgroundGray2;
    transform: translate(-100%, 0);
    transition: transform 0.8s cubic-bezier(0.68, 0.085, 0.68, 0.53);
    @include media(">=992px") {
      position: static;
      flex-direction: row;
      align-items: flex-end;
      height: auto;
      background: none;
      transform: none;
      transition: none;
      justify-content: flex-end;
      max-width: 1170px;
      margin: auto;
    }
    li {
      max-width: 992px;
      height: 62px;
      min-height: 5px;
      display: flex;
      margin: 12px 23px;
      position: relative;
      a {
        display: block;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        @include textArea(600, 30px, 40px, $colorWhite);
        @include media(">=992px") {
          @include textArea(400, 15px, 20px, $colorGray);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      a:hover {
        color: $colorYellow;
      }

      a::before {
        content: "";
        position: absolute;
        height: 40px;
        width: calc(100% + 40px);
        top: 0px;
        left: -20px;
        border: 1px solid #ffe600;
        display: none;
        @include media(">=992px") {
          top: 11px;
        }
      }
    }
    li:hover > a::before {
      display: inline-block;
    }

    @include media(">=992px") {
    }
  }

  .burger {
    width: 50px;
    height: 46px;
    background: $backgroundYellow;
    border-radius: 4px;
    position: fixed;
    z-index: 10;
    top: 30px;
    right: 10px;
    cursor: pointer;
    span {
      display: block;
      position: absolute;
      left: 5px;
      height: 4px;
      width: 40px;
      background: $colorBlack;
      transition: all 0.2s ease-in-out;
      &:first-child {
        top: 5px;
      }
      &:nth-child(2) {
        top: 15px;
      }
      &:nth-child(3) {
        top: 25px;
      }
      &:last-child {
        top: 35px;
      }
    }
    @include media(">=992px") {
      display: none;
    }
  }
  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked ~ .navigation {
    transform: none;
  }

  input[type="checkbox"]:checked + .burger {
    span:first-child {
      transform: rotate(90deg);
      top: 21px;
      left: -13px;
    }
    span:nth-child(2) {
      top: 40px;
    }
    span:nth-child(3) {
      top: 1px;
    }
    span:last-child {
      transform: rotate(-90deg);
      top: 21px;
      left: 23px;
    }
  }
}
.section {
  max-width: 1170px;
  margin: auto;
  .data-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-weight: 400;
      font-size: 25px;
      line-height: 30px;
      color: $colorBlack;
      text-transform: uppercase;
      margin-bottom: 23px;
    }
    .slogan {
      @include textArea(400, 15px, 17px, $colorYellow);
      text-transform: uppercase;
      margin-bottom: 33px;
    }
  }
}
.article-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 40px;
  @include media(">=992px") {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 113px 35px;
  }
  .article-text {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include media(">=992px") {
      width: 280px;
    }
    p {
      @include textArea(300, 15px, 18px, $colorGray);
      text-align: center;
    }
  }
}
.helper {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  padding-bottom: 40px;
  strong {
    @include textArea(300, 25px, 27px, $colorYellow);
    border-right: 2px solid $colorYellow;
    padding-right: 10px;
  }
  h3 {
    text-transform: uppercase;
    @include textArea(400, 15px, 17px, $colorBlack);
  }
}
.yellow-wrapper {
  background: $backgroundYellow;
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media(">=992px") {
    min-height: 600px;
  }
}
.info-yellow {
  display: flex;
  text-align: center;
  flex-direction: column;
  h4 {
    margin-bottom: 20px;
    text-transform: uppercase;
    @include textArea(300, 30px, 33px, $colorBlack);
    padding: 0 20px;
    font-style: italic;
    @include media(">=992px") {
      @include textArea(300, 25px, 28px, $colorBlack);
    }
  }
  p {
    text-transform: uppercase;
    @include textArea(400, 20px, 23px, $colorWhite);
    @include media(">=992px") {
      @include textArea(400, 15px, 18px, $colorWhite);
    }
  }
}
.portfolio {
  padding-top: 120px;
}
.list-photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 992px;
  padding: 0 65px 0 30px;

  @include media(">=992px") {
    justify-content: space-between;
    max-width: 1170px;
    justify-content: space-between;
    padding: 0;
    margin-top: 80px;
  }

  li {
    background: $backgroundWhite;
    margin-bottom: 28px;
    min-width: 260px;
    height: 200px;
    text-transform: uppercase;
    margin-left: 20px;
    a {
      text-decoration: none;
      span {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background: $backgroundYellow;
        width: 100%;
        height: 100%;
        display: none;
        strong {
          @include textArea(400, 20px, 28px, $colorBlack);
          margin-bottom: 18px;
        }
        em {
          color: $colorWhite;
        }
      }
    }
  }
  li:hover a span {
    display: block;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
.more-info {
  margin-bottom: 20px;
  min-height: 100px;
  @include media(">=992px") {
    margin-bottom: 80px;
  }

  a {
    display: block;
    color: $colorYellow;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
  }
  a::before {
    background: url("../images/arrow.png") no-repeat;
    content: "";
    background-size: cover;
    position: absolute;
    top: 43px;
    left: calc(50% - 25px);
    width: 42px;
    height: 22px;
    color: $colorBlack;
  }
}
.gray-wrapper {
  background: $backgroundGray2;
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media(">=992px") {
    min-height: 500px;
  }
}
.clients {
  .clients-header {
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    padding-bottom: 30px;
    padding-top: 30px;
    @include media(">=992px") {
      text-transform: uppercase;
      color: #fff;
      font-size: 25px;
      padding-bottom: 30px;
    }
  }
  .logo-client-ico {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 70px;
    align-items: center;
    justify-content: center;
    @include media(">=992px") {
      justify-content: space-between;
      margin-bottom: 0;
    }
    li {
      width: 45%;
      padding: 0 15px;
      @include media(">=992px") {
        width: auto;
        padding: 0px;
      }
    }
    a {
      display: block;
      margin: 50px;
    }
    img {
      display: block;
    }
  }
}
.contact {
  h3 {
    @include textArea(400, 25px, 28px, $colorBlack);
    text-transform: uppercase;
    margin-top: 115px;
    margin-bottom: 30px;
  }
}
.contact-form {
  max-width: 970px;
  display: flex;
  justify-content: center;
  .form-section {
    min-width: 444px;
    display: flex;
    flex-direction: column;
  }
}
.checkbox-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: $colorBlack;
  width: 100%;
  @include media(">=992px") {
    justify-content: space-between;
    flex-direction: row;
  }
  .wrap-check,
  .wrap-rad {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
    @include media(">=992px") {
      padding: 0;
      width: 470px;
    }
    label {
      cursor: pointer;
      display: flex;
      align-items: center;
      @include media(">=992px") {
        margin-right: 18px;
      }
    }
    div {
      margin-right: 38px;
    }
  }
}
.button-radio {
  .custom-ver-check {
    width: 20px;
    height: 20px;
    background: $colorWhite;
    position: relative;
    border: 2px solid $colorYellow;
    margin-right: 4px;
  }
  .custom-ver-check:after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: $backgroundYellow;
    top: 1px;
    left: 1px;
    display: none;
  }
}
.custom-checkbox {
  display: none;
}
.custom-checkbox:checked + label .custom-ver-check:after {
  display: block;
}
.button-radio {
  .custom-radio {
    width: 19px;
    height: 19px;

    background: $colorWhite;
    position: relative;
    border: 2px solid $colorYellow;
    border-radius: 50%;
    margin-right: 4px;
  }
  .custom-radio:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: $backgroundYellow;
    border-radius: 50%;
    top: 2px;
    left: 3px;
    display: none;
  }
}
.custom-rad {
  display: none;
}
.custom-rad:checked + label .custom-radio::after {
  display: block;
}
.input-name {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  @include media(">=992px") {
    justify-content: space-between;
    flex-direction: row;
  }

  div {
    padding: 10px;
    @include media(">=992px") {
      width: 470px;
      margin-right: 22px;
      padding: 0;
    }
  }
  div:last-child {
    margin-right: 0;
  }
}
.text-input {
  width: 100%;
  height: 50px;
  background: $backgroundYellow;
  border: none;
  margin-bottom: 20px;
  padding: 0 22px;
}
.text-input:focus,
.default-select:focus {
  outline: none;
  border: 1px solid $colorBlack;
  color: $colorBlack;
}
.text-input::placeholder {
  color: $colorWhite;
}

.subject-wrapper,
.texterea-area {
  padding: 10px;
  @include media(">=992px") {
    padding: 0;
  }
  textarea {
    width: 100%;
    height: 180px;
    margin-bottom: 18px;
    background: $backgroundYellow;
    resize: none;
    border: none;
    padding: 18px 22px;
  }
  textarea:focus {
    outline: none;
    border: 1px solid $colorBlack;
    color: $colorBlack;
  }
  textarea::placeholder {
    color: $colorWhite;
  }
}
.submit-wrapper {
  padding: 10px;
  @include media(">=992px") {
    padding: 0;
  }

  .submit-input {
    width: 100%;
    height: 50px;
    background: $backgroundBlack;
    border: none;
    color: $colorYellow;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 234px;
    cursor: pointer;
  }
}
.contact-form {
  span {
    margin-bottom: 0px;
  }
}
.default-select {
  padding: 10px;
  width: 100%;
  @include media(">=992px") {
    padding: 20px;
  }

  background: #ffe600;
  border: none;
  padding: 16px;
  font-size: 15px;
  line-height: 17px;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  color: $colorWhite;
  margin-bottom: 20px;
  &:active {
    color: $colorWhite;
  }
}
.select-wrapper {
  position: relative;
  width: 100%;
}
.select-wrapper::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 10px 0 10px;
  border-color: #000000 transparent transparent transparent;
  top: 22px;
  right: 13px;
  pointer-events: none;
}
.footer {
  background: $backgroundBlack;
}
.footer-intro {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include media(">=992px") {
    max-width: 1150px;
    flex-direction: row;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .copyright-infringement {
    padding: 20px;
    @include media(">=992px") {
      margin-left: 10px;
    }
    @include media(">=1150px") {
      padding: 0;
    }
    p {
      color: $colorYellow;
      font-size: 13px;
    }
  }
  .networks-list {
    display: flex;
  }
}
.networks-list {
  li {
    padding: 20px;
    @include media(">=992px") {
      margin-left: 10px;
    }
    @include media(">=1150px") {
      padding: 0;
      margin-left: 35px;
    }
    a {
      display: block;
      img {
        display: block;
      }
    }
  }
}
