*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

body {
  @include textFont(400, 15px, 18px, $colorGray);
}
input[type="text"],
input[type="email"],
textarea {
  @include textFont(400, 15px, 18px, $colorBlack);
  letter-spacing: -0.4px;
}
.head {
  border-bottom: 1px solid #ffe600;
}
.header-wrapper {
  width: 100%;
  height: 100vh;
  background: $backgroundGray;
  display: flex;
  justify-content: center;
  align-items: center;
  .header-main {
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    @include media(">=992px") {
      padding-top: 50px;
    }
    h1 {
      color: $colorWhite;
      text-transform: uppercase;
      margin-bottom: 20px;
      letter-spacing: -0.2px;
      padding: 0 60px;
      text-align: center;
      position: relative;

      @include media(">=992px") {
        padding: 0px;
        margin-bottom: 40px;
      }
    }
    h1::before {
      background: url(../images/logo.png) no-repeat;
      content: "";
      background-size: cover;
      position: absolute;
      bottom: 40px;
      left: calc(50% - 44px);
      width: 89px;
      height: 88px;
      @include media(">=992px") {
        bottom: 74px;
      }
    }

    strong {
      @include textFont(300, 30px, 30px, $colorYellow);
      text-transform: uppercase;
      margin-bottom: 20px;
      letter-spacing: 2px;
      text-align: center;
      padding: 0 65px;
      @include media(">=992px") {
        margin-bottom: 60px;
        padding: 0 20px;
        @include textFont(300, 40px, 42px, $colorYellow);
        margin-bottom: 110px;
      }
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      color: #fff;
      min-width: 232px;
      height: 62px;
      border: 1px solid $colorYellow;
      text-decoration: none;
      position: relative;
      padding: 0 10px;
      letter-spacing: -0.5px;
    }
    a:after {
      background: url("../images/sprite/sprite.svg#arrow") no-repeat;
      content: "";
      background-size: cover;
      position: absolute;
      top: 80px;
      left: calc(50% - 21px);
      width: 42px;
      height: 22px;
      @include media(">=992px") {
        top: 105px;
      }
    }
    a:hover {
      background: $backgroundYellow;
      color: $colorBlack;
    }
  }
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: auto;
  height: 120px;
  .header-menu-logo {
    span {
      display: block;
      position: relative;
    }

    span::before {
      background: url("../images/logo.png") no-repeat;
      background-size: cover;
      content: "";
      width: 47px;
      height: 47px;
      position: absolute;
      top: calc(50% - 24px);
      left: 20px;
      @include media(">=992px") {
        left: 0;
      }
    }
    span::after {
      background: url("../images/logo-txt.png") no-repeat;
      background-size: cover;
      content: "";
      width: 132px;
      height: 18px;
      position: absolute;
      top: calc(50% - 9px);
      left: 90px;
      @include media(">=992px") {
        left: 70px;
      }
    }
  }
}
.header-nav {
  .header-nav-list {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;

    left: 0px;
    top: 0px;

    z-index: 9;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);

    transform: translate(0, -100%);

    transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    @include media(">=992px") {
      position: static;
      flex-direction: row;
      align-items: flex-end;
      height: auto;
      background: none;
      transform: none;
      transition: none;
      justify-content: flex-end;
      max-width: 1170px;
      margin: auto;
    }

    li {
      max-width: 992px;
      height: 62px;
      display: flex;

      margin: 12px 23px;

      position: relative;
      letter-spacing: 0.1px;

      a {
        display: block;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        @include textFont(400, 35px, 40px, $colorWhite);
        @include media(">=992px") {
          @include textFont(400, 15px, 20px, $colorGray);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      a:hover {
        color: $colorYellow;
      }

      a::before {
        content: "";
        position: absolute;
        height: 40px;
        width: calc(100% + 40px);
        top: 0px;
        left: -20px;
        border: 1px solid #ffe600;
        display: none;
        @include media(">=992px") {
          top: 11px;
        }
      }
    }
    li:hover > a::before {
      display: inline-block;
    }
  }

  .burger {
    width: 50px;
    height: 46px;
    background: $backgroundGray2;
    border-radius: 4px;
    position: fixed;
    z-index: 10;
    top: 30px;
    right: 10px;
    cursor: pointer;
    span {
      display: block;
      position: absolute;
      left: 5px;
      height: 4px;
      width: 40px;
      background: $colorBlack;
      transition: all 0.5s ease-in-out;
      &:first-child {
        top: 6px;
      }
      &:nth-child(2) {
        top: 16px;
      }
      &:nth-child(3) {
        top: 26px;
      }
      &:last-child {
        top: 36px;
      }
    }
    @include media(">=992px") {
      display: none;
    }
  }
  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked ~ .header-nav-list {
    transform: none;
  }

  input[type="checkbox"]:checked + .burger {
    span:first-child {
      transform: rotate(135deg);
      top: 21px;
    }
    span:nth-child(2) {
      display: none;
    }
    span:nth-child(3) {
      display: none;
    }
    span:last-child {
      transform: rotate(-135deg);
      top: 21px;
    }
  }
}

.section-wrap {
  max-width: 1170px;
  margin: auto;
  .main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 65px;
    @include media(">=992px") {
      margin: 0 auto 40px;
    }

    h2 {
      @include textFont(400, 25px, 32px, $colorBlack);
      margin-top: 121px;
      letter-spacing: -0.8px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    h3 {
      text-transform: uppercase;
      color: $colorYellow;
      letter-spacing: -0.3px;
      margin-bottom: 50px;
      padding: 0 50px 0 30px;
      text-align: center;
      @include media(">=992px") {
        margin-bottom: 125px;
        padding: 0;
      }
    }
  }
}
.main-article-wrapper {
  display: flex;
  padding: 0 50px 0 30px;

  flex-direction: column;
  justify-content: center;

  @include media(">=992px") {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0 37px;
  }

  .main-section-article {
    width: 100%;
    margin-bottom: 100px;
    @include media(">=992px") {
      width: 270px;
      margin-bottom: 0;
    }

    .main-section-block {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: stretch;
      margin-bottom: 20px;
      @include media(">=992px") {
        margin-bottom: 40px;
      }

      span {
        @include textFont(300, 25px, 32px, $colorYellow);
        margin-right: 10px;
      }
      h4 {
        text-transform: uppercase;
        max-height: 40px;
        border-left: 1px solid $colorYellow;
        display: flex;
        align-items: center;
        padding-left: 16px;
        letter-spacing: -0.2px;
      }
    }
    p {
      @include textFont(300, 15px, 21px, $colorGray);
      padding: 0 50px 0 30px;
      text-align: center;
      @include media(">=992px") {
        padding: 0;
        text-align: center;
      }
    }
  }
}
.text-section-wrapper {
  min-height: 200px;
  background: $colorYellow;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media(">=992px") {
    min-height: 600px;
  }
  .text-section {
    display: flex;
    text-align: center;
    margin-bottom: 13px;
    flex-direction: column;
    em {
      @include textFont(400, 20px, 24px, $colorBlack);
      font-style: italic;
      text-transform: uppercase;
      margin-bottom: 12px;
      letter-spacing: 1.3px;
      padding: 0 50px;
      @include media(">=992px") {
        @include textFont(400, 25px, 28px, $colorBlack);
        padding: 0;
      }
    }
    p {
      color: $colorWhite;
      text-transform: uppercase;
      letter-spacing: -0.25px;
      padding: 0 50px;
      @include media(">=992px") {
        margin-left: 33px;
        margin-top: 5px;
        padding: 0;
      }
    }
  }
}
.main-section {
  .section-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 992px;
    padding: 0 65px 0 30px;

    @include media(">=992px") {
      justify-content: space-between;
      max-width: 1170px;
      justify-content: space-between;
      padding: 0;
      margin: 0 20px;
    }

    li {
      background: $backgroundWhite2;
      margin-bottom: 28px;
      min-width: 260px;
      height: 200px;
      text-transform: uppercase;
      margin-left: 20px;
      a {
        text-decoration: none;
        span {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          background: $backgroundYellow;
          width: 100%;
          height: 100%;
          display: none;
          strong {
            @include textFont(400, 20px, 28px, $colorBlack);
            margin-bottom: 13px;
            margin-top: 6px;
            letter-spacing: -0.6px;
          }
          em {
            color: $colorWhite;
            letter-spacing: -0.3px;
          }
        }
      }
    }
    li:hover a span {
      display: block;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }
  .main-section-more {
    margin-bottom: 20px;
    @include media(">=992px") {
      margin-bottom: 161px;
    }

    a {
      display: block;
      color: #ffe600;
      text-decoration: none;
      position: relative;
      letter-spacing: -0.35px;
    }
    a::before {
      background: url("../images/arrow.png") no-repeat;
      content: "";
      background-size: cover;
      position: absolute;
      top: 32px;
      left: calc(50% - 21px);
      width: 42px;
      height: 22px;
      color: $colorBlack;
    }
    a:hover {
      color: $colorBlack;
    }
  }
}
#clients {
  margin: 0;
  h2 {
    color: $colorWhite;
  }
}
#clients > h3 {
  margin-bottom: 75px;
}
.section-clients-wrapper {
  min-height: 500px;
  background-color: $backgroundGray2;
}
.clients-logo {
  display: flex;
  width: 100%;
  margin-bottom: 70px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 65px 0px 35px;
  @include media(">=992px") {
    padding: 20px 51px 20px 34px;
    justify-content: space-between;
    margin-bottom: 0;
  }

  a {
    display: block;
    margin: 30px;
  }
  img {
    display: block;
  }
}
.form-wrapper {
  max-width: 970px;
  display: flex;
  justify-content: center;
  .contact-section-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 2px;
  }
}
.section-checkbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: $colorBlack;
  width: 100%;
  @include media(">=992px") {
    justify-content: space-between;
    flex-direction: row;
  }
  .checkbox-wrapper,
  .radio-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 0 65px 0 35px;
    @include media(">=992px") {
      padding: 0;
      width: 470px;
    }
    label {
      cursor: pointer;
      display: flex;
      align-items: center;
      letter-spacing: -0.9px;

      @include media(">=992px") {
        margin-right: 18px;
      }
    }
    div {
      margin-right: 38px;
    }
  }
}
.button-radio {
  .button-checkbox-new {
    width: 20px;
    height: 20px;
    background: $colorWhite;
    position: relative;
    border: 2px solid $colorYellow;
    margin-right: 4px;
  }
  .button-checkbox-new:after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: $backgroundYellow;
    top: 1px;
    left: 1px;
    display: none;
  }
}
.custom-checkbox-input {
  display: none;
}
.custom-checkbox-input:checked + label .button-checkbox-new:after {
  display: block;
}
.button-radio {
  .button-radio-new {
    width: 19px;
    height: 19px;

    background: $colorWhite;
    position: relative;
    border: 2px solid $colorYellow;
    border-radius: 50%;
    margin-right: 4px;
  }
  .button-radio-new:after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    background: $backgroundYellow;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    display: none;
  }
}
.custom-radio-input {
  display: none;
}
.custom-radio-input:checked + label .button-radio-new::after {
  display: block;
}
.input-contact-name-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  @include media(">=992px") {
    justify-content: space-between;
    flex-direction: row;
  }

  div {
    padding: 0 65px 0 35px;
    @include media(">=992px") {
      width: 470px;
      margin-right: 22px;
      padding: 0;
    }
  }
  div:last-child {
    margin-right: 0;
  }
}
.text-input {
  width: 100%;
  height: 50px;
  background: $backgroundYellow;
  border: none;
  margin-bottom: 20px;
  padding: 0 22px;
}
.text-input:focus,
.default-select:focus {
  outline: none;
  border: 1px solid $colorBlack;
  color: $colorBlack;
}
.text-input::placeholder {
  color: $colorWhite;
}

.subject-wrapper,
.texterea-wrapper {
  padding: 0 65px 0 35px;
  @include media(">=992px") {
    padding: 0;
  }
  textarea {
    width: 100%;
    height: 180px;
    margin-bottom: 18px;
    background: $backgroundYellow;
    resize: none;
    border: none;
    padding: 18px 22px;
  }
  textarea:focus {
    outline: none;
    border: 1px solid $colorBlack;
    color: $colorBlack;
  }
  textarea::placeholder {
    color: $colorWhite;
  }
}
.submit-wrapper {
  padding: 0 65px 0 35px;
  @include media(">=992px") {
    padding: 0;
  }

  .submit-input {
    width: 100%;
    height: 50px;
    background: $backgroundBlack;
    border: none;
    color: $colorYellow;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 234px;
    letter-spacing: -1px;
    cursor: pointer;
  }
  .submit-input:hover {
    background: $backgroundGray2;
  }
}
.footer-wrapper {
  height: 100px;
  width: 100%;
  background: $backgroundBlack;
  .info-footer {
    max-width: 1170px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.privacy {
  span {
    color: $colorYellow;
    font-size: 13px;
  }
}
.services {
  display: flex;
  ul {
    display: flex;
    li {
      margin-left: 36px;
      height: 10px;
      width: 10px;
      a {
        display: block;
        position: relative;
        &::after {
          content: "";
          background-size: cover;
          position: absolute;
          top: 0;
          left: 0;
          width: 12px;
          height: 12px;
        }
      }
    }
  }
}
.facebook-ico {
  background: url("../images/sprite/sprite.svg#Facebook") no-repeat;
}
.twitter-ico {
  background: url("../images/sprite/sprite.svg#Twiter") no-repeat;
}
.dribble-ico {
  background: url("../images/sprite/sprite.svg#Dribble") no-repeat;
}
.google-ico {
  background: url("../images/sprite/sprite.svg#Google") no-repeat;
}
.youtube-ico {
  background: url("../images/sprite/sprite.svg#Youtube") no-repeat;
}
