$colorWhite: #ffffff;
$colorYellow: #ffe600;
$colorGray: #8e8e8e;
$colorBlack: #131316;

$backgroundWhite: #ffffff;
$backgroundYellow: #ffe600;
$backgroundBlack: #131316;
$backgroundGray: #89898b;
$backgroundWhite: #f3f3f3;
$backgroundGray2: #424245;
